<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
      <div class="d-flex" style="height: 100%; align-items: center; flex-direction: column; justify-content: space-between;">
        <div>
          <div class="d-flex justify-content-column-between" style="width: 200px; line-height: 100px">
            <strong style="font-size: 20px;">Techtalk</strong>
          </div>
          <div class="d-flex justify-content-column-between">
            <a mat-icon-button color="primary" routerLink="/">
                <mat-icon>message</mat-icon>
            </a>
            <a mat-icon-button color="primary" routerLink="/analytics">
                <mat-icon>bar_chart</mat-icon>
            </a>
            <a mat-icon-button color="primary" routerLink="/settings">
                <mat-icon>settings</mat-icon>
            </a>
          </div>
        </div>
        <div>
          <div class="d-flex" style="align-items: start; flex-direction: column; justify-content: space-between; text-align: left;">
            <span>&#169; 2023</span> 
            <!--
            <a style="line-height: 30px;" href="https://github.com/A1A1G2">Ahmet Akib Gültekin</a>
            <a style="line-height: 30px;" href="https://github.com/kaayra2000">Muhammet Kayra Bulut</a>
            <a style="line-height: 30px;" href="https://github.com/saityalcn">Sait Yalçın</a>
            -->
          </div>
        </div>
      </div>
    </mat-drawer>
    <div class="main-content">
        <div style="float: left; width: 100%; display: flex; justify-content: start;">
            <button mat-icon-button color="primary" (click)="drawer.toggle(); onDrawerToggle();" aria-label="Example icon button with a vertical three dot icon">
              <mat-icon id="mat-icon-drawer-toggle">keyboard_arrow_left</mat-icon>
            </button>
        </div>
        <div style="float: left; width: 100%;">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-drawer-container>